// Color
$purple:#6131ee;
$color-nav: #656565;
$color-link :#6131ee;
$select-color: #fff;
$white:#ffffff;
$white-1:#e2e2e2;
$Gray:#707070;
$Gray-1:#848484;
$Gray-2:#666;
$black-1: #333333;


// Boder-radius
$boder-radius : 12px;

//
$select-width: 220px;
$select-height: 40px; 

// Font Size 
$font-size:20px;
$font-title:22px;

// Font
$font:"Cabin";

// font-Weight
$bold: 'bold';